body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


#content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 390px;
    height: 400px;
    color: white;
    background-color: #ADD8E6;
    position: relative;
    top: 53px;
    z-index: 1;
}


#header{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 50px;
    background-color: #FFFFFF;
    border-bottom: 3px ridge #4682B4;
    border-left: 1px ridge #4682B4;
    border-right: 1px ridge #4682B4;
    position: fixed;
    z-index: 2;
}

.logo-header{
    height: 40px;
    width: 80px;
    text-align: center;
    background-color: red;
    position: relative;
    left: 10px;
    top: 5px;
}

#registration{
    height: 40px;
    width: 120px;
    text-align: center;
    background-color: yellow;
    position: relative;
    top: 5px;
    left: 30px;
}

#header_content{
    height: 40px;
    width: 160px;
    text-align: center;
    background-color: grey;
    position: relative;
    top: 5px;
    left: 20px;
}

#pole_to_image{
    height: 295px;
    width: 370px;
    background-color: black;
    top: 10px;
    position: relative;
}

.pole_change_photo{
    background-color: green;
    width: 370px;
    height: 25px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_for_model{
    background-color: purple;
    width: 370px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}