body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


#content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 780px;
    height: 1400px;
    color: white;
    background-color: #ADD8E6;
    position: relative;
    top: 53px;
    z-index: 1;
}


#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 70px;
    background-color: #FFFFFF;
    border-bottom: 3px ridge #4682B4;
    border-left: 1px ridge #4682B4;
    border-right: 1px ridge #4682B4;
    position: fixed;
    z-index: 2;
}

.logo-header{
    height: 40px;
    width: 80px;
    text-align: center;
    background-color: red;
    position: absolute;
    left: 10px;
    top: 5px;
}

#registration{
    height: 50px;
    width: 320px;
    text-align: center;
    background-color: yellow;
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header_content{
    height: 40px;
    width: 160px;
    text-align: center;
    background-color: grey;
    position: absolute;
    top: 5px;
    left: 20px;
}

#pole_to_image{
    height: 295px;
    width: 370px;
    background-color: black;
    top: 10px;
    position: relative;
}

.pole_change_photo{
    background-color: green;
    width: 370px;
    height: 25px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_for_model{
    background-color: purple;
    width: 370px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign_in_button{
    background-color: orange;
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#sign_in_button > a{
    color: black;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
}

#sign_up_button{
    background-color: green;
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#sign_up_button > a{
    color: black;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
}