body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #896E69;
}


#content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 780px;
    height: 540px;
    color: white;
    background-color: #F9F9FF;
    position: relative;
    top: 78px;
    z-index: 1;
    border-radius: 15px;
    overflow: auto
}


#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 70px;
    background-color: #F9F9FF;
    border-bottom: 3px ridge #D55448;
    position: fixed;
    z-index: 2;
}

#registration{
    height: 50px;
    width: 260px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header_content{
    height: 50px;
    width: 360px;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    top: 10px;
    left: 10px;
}

#sign_in_button{
    background-color: #896E69;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#sign_in_button > a{
    color: #F9F9FF;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
}

#sign_in_button > a:hover{
    color: #D55448;
}

#sign_up_button{
    background-color: #D55448;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#sign_up_button > a{
    color: #F9F9FF;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
}

#sign_up_button > a:hover{
    color: #896E69;
}

.recognition_photo{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 26px;
    color: #896E69;
}

.recognition_photo > a{
    text-decoration: none;
    color: #896E69;
}

.my_recognition{
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 26px;
    color: #FFA577;
    text-shadow: 1px 1px 0px #896E69;
}

.my_recognition > a{
    text-decoration: none;
    color: #FFA577;
}
