<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Главная</title>
    </head>
    <body>
        <div id="header">
            <div id="header_content">
                <div class="recognition_photo"><a href="index.html">Распознавание</a></div>
                <div class="my_recognition"><a href="my_recognitions_page.html">Мои сканы</a></div>
            </div>
            <div id="registration">
                <div id="sign_in_button">
                    <a href="sign_in_page.html">Войти</a>
                </div>
                <div id="sign_up_button">
                    <a href="sign_up_page.html">Регистрация</a>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="pole_to_image">
                <div class="photo_for_model">
                    <div class="pole_change_photo">
                        <input type="file" class="photo_from_pc" id="input_photo_from_pc" name="input_photo_from_pc" accept="image/*">
                    </div>
                </div>
                <div class="pole_send_photo">
                    <button class="button_send_photo_for_model" type="button">Отправить</button>
                </div>
            </div>
        </div>
    </body>
</html>