<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style_for_my_recognitions_page_for_authorizated_user.css">
    <title>Главная</title>
    </head>
    <body>
        <div id="header">
            <div id="header_content">
                <div class="recognition_photo"><a href="main_page_for_authorizated_user.html">Распознавание</a></div>
                <div class="my_recognition"><a href="my_recognitions_page_for_authorizated_user.html">Мои сканы</a></div>
            </div>
            <div id="personal_account">
                <div class="text_name_user">Имя пользователя</div>
                <div class="enter_in_personal_account_button">Личный кабинет</div>
            </div>
        </div>
        <div id="content">

        </div>
    </body>
</html>