<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style_for_my_recognitions_page.css">
    <title>Главная</title>
    </head>
    <body>
        <div id="header">
            <div id="header_content">
                <div class="recognition_photo"><a href="index.html">Распознавание</a></div>
                <div class="my_recognition"><a href="my_recognitions_page.html">Мои сканы</a></div>
            </div>
            <div id="registration">
                <div id="sign_in_button">
                    <a href="sign_in_page.html">Войти</a>
                </div>
                <div id="sign_up_button">
                    <a href="sign_up_page.html">Регистрация</a>
                </div>
            </div>
        </div>
        <div id="content">

        </div>
    </body>
</html>