<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/style_for_sign_up_page.css">
        <title>Зарегистрироваться</title>
    </head>
    <body>
        <div id="content">
            <div id="pole_authorization">
                <div id="pole_login">
                    <div class="text_login">Логин</div>
                    <input type="text" id="pole_enter_login" placeholder="Поле ввода логина">
                </div>
                <div id="pole_password">
                    <div class="text_password">Пароль</div>
                    <input type="text" id="pole_enter_password" placeholder="Поле ввода пароля">
                </div>
            </div>
        </div>
    </body>
</html>