<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/style_for_sign_up_page.css">
        <title>Зарегистрироваться</title>
    </head>
    <body>
        <div id="content">
            <div id="pole_authorization">
                <div id="pole_login">
                    <div class="text_login">Логин</div>
                    <input type="text" id="pole_enter_login" placeholder="Поле ввода логина">
                </div>
                <div id="pole_password">
                    <div class="text_password">Пароль</div>
                    <input type="text" id="pole_enter_password" placeholder="Поле ввода пароля">
                </div>
            </div>
        </div>
    </body>
</html>